@using X.PagedList.Mvc.Core;
@using X.PagedList
@using X.PagedList.Web.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<form class="float-end" asp-action="Index" method="get">
	<label>
		Tìm kiếm:
	</label>
	<input type="search" name="q" value=@ViewBag.q >
</form>
<h1>Quản lý sản phẩm</h1>
<a asp-asp-controller="product" asp-action="create">Thêm sản phẩm</a>
<table class="table table-striped">
	<tr>
		<th>#</th>
		<th >Tên truyện</th>
		<th>Tác giả</th>
		<th>Giá</th>
		<th>Số lượng tồn</th>
		<th>Năm xuất bản</th>
		<th>Kích thước</th>
		<th>Thể loại</th>
		<th>Bộ truyện</th>
		<th>Sửa</th>
		<th>Xóa</th>
	</tr>
	@foreach (var product in ViewBag.Products)
	{
		<tr>
			<td>@product.id</td>
			<td>@product.name</td>
			<td>@product.author</td>
			<td>@product.priceVND</td>
			<td>@product.quantity</td>
			<td>@product.publish_year</td>
			<td>@product.size</td>
			<td>@product.category_name</td>
			<td>@product.collection</td>
			<td>
				<a asp-asp-controller="product" asp-action="edit" asp-route-id=@product.id>
					Sửa
				</a>
			</td>
			<td>
				<form method="post" asp-asp-controller="product" asp-action="delete" asp-route-id=@product.id>
					<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Xóa</button>
				</form>
			</td>
		</tr>
	}
</table>
@Html.PagedListPager((IPagedList)ViewBag.Products, page => Url.Action("Index","Product",
	new { page=page ,q=ViewBag.q}),
	new PagedListRenderOptions 
	{
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" }
	})